body {
  font: 10px sans-serif;
  
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;

  shape-rendering: crispEdges;
}

.x.axis path {
  display: block;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

svg{
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
   width: 800px;
   height: 600px;
  }
  
  h1{
    color: brown;
    text-align: center;
    /*border-top: solid;
    border-width: 2px;
    border-bottom: solid;
    border-color: #EEAD9F;
    border-radius: 10%;*/
  }
